
*.aux
*.idx
*.lof
*.log
*.lot
*.out
*.gz
*.toc
Codigo/untitled/prototipo/.idea/workspace.xml
PruebaPrototipo/.idea/misc.xml
PruebaPrototipo/.idea/modules.xml
PruebaPrototipo/.idea/PruebaPrototipo.iml
PruebaPrototipo/.idea/vcs.xml
PruebaPrototipo/.idea/workspace.xml
PruebaPrototipo/prototipo/entrada1000palabrasAPI.csv
PruebaPrototipo/prototipo/entrada1000palabrasAPI.csv
PruebaPrototipo/prototipo/entrada1000palabrasAPI.csv
*.pyc
*.bbl
*.blg
