h1{
    color: black;
}


body {
    padding-left: 90px;
}


.page-header {
    background-color: black;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.prueba {
    background-color:blue;
}

.hola {
color: red;
}