{% extends 'prototipo/base.html' %}

{% block extrahead %}
{% load static %}
  <link rel="stylesheet" href=".{% static 'css/style_index.css' %}">
  <script type="text/javascript" src="./static/js/index_aprendefacil.js"></script>


        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Aprende Fácil<span class="sr-only">(current)</span></a>
                </li>
                  <!--<li class="nav-item dropdown dropwdown-nav">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">settings</i></a>
                    <div class="dropdown-menu panel-dropdown" id="select-option" aria-labelledby="dropdown01">
                        <div class="center-content"><input type="checkbox" id="mayusculas" class="options ml-3"><a id="text-mayusculas" class=" options dropdown-item" href="#">Convertir a mayúsculas</a></input></div>
                        <div class="center-content"><input type="checkbox" id="defyejemplo" class="options ml-3"><a class="dropdown-item" href="#">Mostrar definición y ejemplo</a></input></div>
                        <div class="center-content"><input type="checkbox" id="pictos" class="options ml-3"><a class="dropdown-item" href="#">Mostrar pictos</a></input></div>
                        <div class="center-content mt-3"><button type="button"id="button-accept" class="btn">Aceptar</button><button type="button" class="btn btn-secondary ml-3">Cancelar</button></div>
                    </div>
                  </li>-->

              </ul>
            </div>
          </nav>


        <div class="container"> 
            <div class=" label-panel">
             <p>Introduzca una palabra y seleccione un nivel de búsqueda: </p> 
            </div>   

            <div class="panel-options">        
              <div class=" mayusculas border-color-right">
                <label for="mayusculas" id="text-mayusculas" class=" mt-2 ml-2 mr-3" >
                  <input type="checkbox" id="mayusculas" name="mayusculas" class="ml-3 mr-3"/>
                  <span>Convertir a mayúsculas</span>
                </label>
              </div>
              <div class=" border-color-right">
                <label for="defyejemplo" id="text-defyejemplo" class="mt-2 ml-2 mr-3">
                  <input type="checkbox" id="defyejemplo" name="defyejemplo" class="ml-3 mr-3"/><span>Mostrar definición y ejemplo</span>
                </label>
              </div>
              <div class=""><label for="pictos" class="mt-2 ml-2 mr-3" ><input type="checkbox" id="pictos" name="pictos" class=" ml-3 mr-3">Mostrar pictos</input></label></div>
            </div>
            <div class="panel-select-level mt-5">
                <select class="form-control" id="level">
                    <option value="1">Nivel fácil</option>
                    <option value="2">Nivel medio</option>
                    <option value="3">Nivel avanzado</option>                                
                  </select>
                </div>     
              <div class="heading center-content">
                   
                      <form method="POST" class="panel-search-word ml-2 " id="formulario">
                          {% csrf_token %}
                          {{ form.as_p }}

                            
                            <button id="button-send" type="submit" class="learn-more  mb-4 ml-2" name="button-search">
                                <div class="circle "><i class="material-icons icon arrow pb-4">search</i>
                                <!--<span class="icon arrow"></span>-->
                                </div>
                                <p class="button-text pt-1">Buscar</p>
                            </button>        
                      </form>
                      
                </div>
                
               
               


                <hr class="hr-panel-top">

               <div class="panel-results mt-5">
                  <div class='loader'>
                      <div class='circle'></div>
                      <div class='circle'></div>
                      <div class='circle'></div>
                      <div class='circle'></div>
                      <div class='circle'></div>
                    </div>
                  <div class="title"> </div>
                  

                  <ul id="list-results">


                     <!-- {% for offset in offsetInicial %}


                          <div id ="card{{ counterId }}" class="panel-words mt-4 pt-3 pb-3 col-8 ">
                              <div class="number-panel pt-3 ml-3"><p>{{ counter }}.</p></div>

                               <div class="results">
                                  <p style="color:red">OFFSET INICIAL  {{ offset.offset }} </p>
                                  {% for synonym in resultsSynonyms %}
                                        {% if offset.offset == synonym.offset %}
                                            {% if synonym.picto != "" %}
                                            <img class="image-picto ml-3" src="{{ synonym.picto }}"></img>
                                         {% endif %}
                                            <p>OFFSET SINONIMO FACIL  {{ synonym.offset }} </p>
                                            {% for phrase in synonym.phraseSynonyms %}
                                                <p>Un {{ word }}  <a href="#">{{ phrase }}</a> </p>
                                            {% endfor %}

                                        {% endif %}
                                  {% endfor %}

                                  {% for hyponym in resultsHyponyms %}
                                    {% if offset.offset == hyponym.offsetFather %}
                                        {% if hyponym.picto != "" %}
                                            <img class="image-picto ml-3" src="{{ hyponym.picto }}"></img>
                                         {% endif %}
                                        <p>OFFSET PADRE {{ hyponym.offsetFather }} ==> OFFSET HIPONIMO FACIL {{ hyponym.offset }}</p>
                                        {% for phrase in hyponym.phraseHyponyms %}
                                             <p>Un {{ word }}  <a href="#">{{ phrase }}</a> </p>
                                        {% endfor %}
                                   {% endif %}
                                  {% endfor %}

                                  {% for hyperonym in resultsHyperonyms %}
                                    {% if offset.offset == hyperonym.offsetFather %}
                                         {% if hyperonym.picto != "" %}
                                            <img class="image-picto ml-3" src="{{ hyperonym.picto }}"></img>
                                         {% endif %}

                                        <p>OFFSET PADRE {{ hyperonym.offsetFather }} ==> OFFSET HIPERONIMO FACIL {{ hyperonym.offset }}</p>
                                        {% for phrase in hyperonym.phraseHyperonyms %}
                                             <p>Un {{ word }}  <a href="#">{{ phrase }}</a> </p>
                                        {% endfor %}
                                   {% endif %}
                                  {% endfor %}



                                 

                            <div  id="panel-button" class="panel-buttons border border-dark">
                                <div class="dropdown show">
                                    <a class="btn btn-def dropdown-toggle" href="#" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Definición y Ejemplo
                                    </a>
                                    <div class="dropdown-menu panel-dropdown-def" aria-labelledby="dropdownMenuLink">
                                        <div class="panel-def-example-only-button">

                                            {% for syn in resultsSynonyms %}

                                               {% if offset.offset == syn.offset %}
                                                     {% if syn.definition !=  "" %}
                                                         <p><b> Definición:</b><i>{{ syn.definition }} </i></p>
                                                     {% endif %}
                                                     {% if syn.example != "" %}
                                                         <p><b> Ejemplo: </b><i> {{ syn.example }} </i></p>
                                                     {% endif %}
                                               {% endif %}
                                           {% endfor %}

                                           {% for hyp in resultsHyponyms %}
                                               {% if offset.offset == hyp.offsetFather %}
                                                     {% if hyp.definition !=  "" %}
                                                        <p><b> Definición:</b><i> {{ hyp.definition }} </i></p>
                                                     {% endif %}
                                                     {% if hyp.example != "" %}
                                                         <p><b> Ejemplo: </b><i> {{ hyp.example }} </i></p>
                                                     {% endif %}
                                               {% endif %}
                                           {% endfor %}
                                           {% for hyper in resultsHyperonyms %}
                                               {% if offset.offset == hyper.offsetFather %}

                                                     {% if hyper.definition != "" %}
                                                         <p><b> Definición:</b><i> {{ hyper.definition }} </i></p>
                                                     {% endif %}

                                                     {% if hyper.example != "" %}
                                                         <p><b> Ejemplo:</b><i> {{ hyper.example }} </i></p>
                                                     {% endif %}

                                               {% endif %}
                                           {% endfor %}

                                         </div>

                                    </div>
                                </div>

                            </div>





                               </div>
                          </div>
                      {% endfor %}


-->



<!--
                    <div class="panel-words mt-4 pt-3 pb-3 col-8 ">
                      <div class="number-panel pt-3"><p>1.</p></div>
                       <img class="image-picto ml-3" src="./static/img/portero.png"></img>
                       <div class="results">
                        
                        <li> Un portero es un <a href="#">vigilante</a><img class="result-picto ml-3" src="./static/img/vigilante_de_seguridad.png"></img></li>
                        <li> Un portero es como un <a href="#">guardia</a><img class="result-picto ml-3" src="./static/img/guardia.png"></img> </li>
                        <li> Un portero es: 
                            <div class="panel-analogies">
                              <p><a href="#">fuerte</a><img class="result-picto ml-3 mr-2 " src="./static/img/fuerte.png"></img> como un <a href="#">gorila</a><img class="result-picto ml-3" src="./static/img/gorila.png"></img></p>
                              <p><a href="#">grande</a><img class="result-picto ml-3 mr-2 " src="./static/img/grande.png"></img> como un <a href="#">oso</a><img class="result-picto ml-3" src="./static/img/oso.png"></img></p>
                        
                            </div>
                          </li>
                        
                      </div> 
                      
                    </div>
                    
                    
                    <div class="panel-words mt-4 pt-3 pb-3 col-8 ">
                        <div class="number-panel pt-3 "><p>2.</p></div>
                         <img class="image-picto ml-3" src="./static/img/portero (1).png"></img>
                         <div class="results">
                          
                          <li> Un portero es un <a href="#">jugador</a><img class="result-picto ml-3" src="./static/img/jugador_de_hockey_hielo.png"></img></li>
                          <li> Un portero es como un <a href="#">futbolista</a><img class="result-picto ml-3" src="./static/img/futbolista.png"></img> </li>
                          <li> Un portero es: 
                              <div class="panel-analogies">
                                <p><a href="#">rápido</a><img class="result-picto ml-3 mr-2 " src="./static/img/rapido.png"></img> como un <a href="#">caballo</a><img class="result-picto ml-3" src="./static/img/caballo.png"></img></p>
                                <p><a href="#">delgado</a><img class="result-picto ml-3 mr-2 " src="./static/img/delgado.png"></img> como un <a href="Irene_mockup4_todosSynsetSinDefMasPictos_v2.html">flamenco</a><img class="result-picto ml-3" src="./static/img/flamenco.png"></img></p>
                          
                              </div>
                            </li>
                          
                        </div> 
                        
                      </div>-->


                    
                  
                                    
                  </ul>
                </div>


          </div>
      
         

      
{% endblock %}