{% extends 'prototipo/base.html' %}

{% block content %}



    <div class="border pl-4">

        <div class="panel-introducir-palabra pt-3">
            <h3>A continuación, introduzca la palabra para obtener la palabra fácil:</h3>
            <form method="POST" class="formulario mt-4" >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default ml-3" name="boton-final">Enviar</button>

            </form>
        </div>
        {% if word != empty %}

        <div class="dropdown mb-5">
          <button class="btn btn-secondary dropdown-toggle mb-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ver resultados en formato JSON
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div>{{ json }}</div>
          </div>
        </div>


        <h3>Resultados para la palabra {{ word }}:</h3>

            <h3>SINÓNIMOS QUE COINCIDEN CON LAS MIL PALABRAS RAE:</h3>
                {% for results in dict.sinonimos %}
                 <div class="panel-results">

                  <p>{{ word }} es {{ results }}</p>

                </div>
                {% endfor %}




        <h3>SINÓNIMOS EN LA APLICACIÓN WORDNET:</h3>
            {% for results in resultadoSinonimos %}
                <div class="panel-results">
                {% for result in results %}
                  <p>{{ word }} es {{ result }}</p>
                 {% endfor %}
                </div>
            {% endfor %}


        <hr>
        <hr>
            <h3>HIPÓNIMOS QUE COINCIDEN CON LAS MIL PALABRAS RAE:</h3>
            {% for results in dict.hiponimos %}
                <div class="panel-results">
                  <p>{{ word }} es {{ results }}</p>
                </div>
            {% endfor %}

            <h3>HIPONIMOS EN LA APLICACIÓN WORDNET:</h3>
            {% for results in resultadoHiponimo %}
                <div class="panel-results">
                {% for result in results %}

                <p>{{ word }} es como {{ result }}</p>

                {% endfor %}
                </div>
            {% endfor %}


        <hr>
        <hr>

        <h3>HIPERÓNIMOS QUE COINCIDEN CON LAS MIL PALABRAS RAE:</h3>
            {% for results in dict.hiperonimos %}
                <div class="panel-results">
                  <p>{{ word }} es {{ results }}</p>
                </div>
            {% endfor %}


            <h3>HIPERONIMOS EN LA APLICACIÓN WORDNET:</h3>
            {% for results in resultadoHiperonimo %}
                <div class="panel-results">
                 {% for result in results %}
                     <p>{{ word }} es como {{ result }}</p>
                    {% endfor %}
                 </div>
            {% endfor %}

        {% endif %}
     </div>

{% endblock %}