{% extends 'prototipo/base.html' %}

{% block content %}



    <div class="border">
        <h3>A continuación, introduzca la palabra para obtener la palabra fácil:</h3>
        <form method="POST" class="post-form" >{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default" name="boton-final">Enviar</button>

        </form>

        <h3>RESULTADOS :</h3>
            <h3>SINONIMOS:</h3>

        <p>Se han encontrado {{ contador }} de {{ totales }}</p>



     </div>

{% endblock %}