{% extends 'prototipo/base.html' %}

{% block extrahead %}
{% load static %}
  <link rel="stylesheet" href=".{% static 'css/style_index.css' %}">



        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Aprende Fácil <span class="sr-only">(current)</span></a>
                </li>
                  <li class="nav-item dropdown dropwdown-nav">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">settings</i></a>
                    <div class="dropdown-menu panel-dropdown" aria-labelledby="dropdown01">
                        <div class="center-content"><input type="checkbox" class="ml-3"><a class="dropdown-item" href="#">Permitir mayúsculas</a></input></div>
                        <div class="center-content"><input type="checkbox" class="ml-3"><a class="dropdown-item" href="#">Mostrar definición y ejemplo</a></input></div>
                        <div class="center-content"><input type="checkbox" class="ml-3"><a class="dropdown-item" href="#">Mostrar pictos</a></input></div>

                    </div>
                  </li>

              </ul>
            </div>
          </nav>
        
          
              <div class="heading center-content">

                    <label><b>Introduzca una palabra: </b></label>
                    <!--<input type="text"  class="pl-3  ml-3 mr-3 input-word">-->

                      <form method="POST" class="panel-search-word ml-2 " >
                          {% csrf_token %}
                          {{ form.as_p }}

                            <button type="submit" class="learn-more  mb-4 ml-2" name="button-search">
                                <div class="circle "><i class="material-icons icon arrow pb-4">search</i>
                                <!--<span class="icon arrow"></span>-->
                                </div>
                                <p class="button-text pt-1">Buscar</p>
                            </button>
                      </form>

                </div>


                <hr>
              {% if word != empty %}
                <div class="panel-results mt-5">
                  <h3>Resultados para la palabra <p class="ml-2"> {{ word }}</p></h3>
                  <ul>                   

                      {% for result in results %}
                            <div class="panel-words mt-4 pt-3 pb-3 col-8 ">
                                <div class="number-panel pt-3"><p></p></div>
                                <div class="results">
                                    {% for res in result.synonyms %}
                                            <p>Un {{ word }} es <a href="#">{{ res }}</a></p>

                                    {% endfor %}

                                    {% for res in result.hyperonyms %}
                                            <p>Un {{ word }} es <a href="#">{{ res }}</a></p>

                                    {% endfor %}

                                    {% for res in result.hyponyms %}

                                            <p>Un {{ word }} es como <a href="#">{{ res }}</a></p>

                                    {% endfor %}




                                </div>

                            </div>

                         {% endfor %}

                    <div class="panel-words mt-4 pt-3 pb-3 col-8 ">
                      <div class="number-panel pt-3"><p>1.</p></div>
                       <img class="image-picto ml-3" src="./static/img/portero.png"></img>
                       <div class="results">
                        
                        <li> Un portero es un <a href="#">vigilante</a><img class="result-picto ml-3" src="./static/img/vigilante_de_seguridad.png"></img></li>
                        <li> Un portero es como un <a href="#">guardia</a><img class="result-picto ml-3" src="./static/img/guardia.png"></img> </li>
                        <li> Un portero es: 
                            <div class="panel-analogies">
                              <p><a href="#">fuerte</a><img class="result-picto ml-3 mr-2 " src="./static/img/fuerte.png"></img> como un <a href="#">gorila</a><img class="result-picto ml-3" src="./static/img/gorila.png"></img></p>
                              <p><a href="#">grande</a><img class="result-picto ml-3 mr-2 " src="./static/img/grande.png"></img> como un <a href="#">oso</a><img class="result-picto ml-3" src="./static/img/oso.png"></img></p>
                        
                            </div>
                          </li>
                        
                      </div> 
                      
                    </div>
                    
                    
                    <div class="panel-words mt-4 pt-3 pb-3 col-8 ">
                        <div class="number-panel pt-3 "><p>2.</p></div>
                         <img class="image-picto ml-3" src="./static/img/portero (1).png"></img>
                         <div class="results">
                          
                          <li> Un portero es un <a href="#">jugador</a><img class="result-picto ml-3" src="./static/img/jugador_de_hockey_hielo.png"></img></li>
                          <li> Un portero es como un <a href="#">futbolista</a><img class="result-picto ml-3" src="./static/img/futbolista.png"></img> </li>
                          <li> Un portero es: 
                              <div class="panel-analogies">
                                <p><a href="#">rápido</a><img class="result-picto ml-3 mr-2 " src="./static/img/rapido.png"></img> como un <a href="#">caballo</a><img class="result-picto ml-3" src="./static/img/caballo.png"></img></p>
                                <p><a href="#">delgado</a><img class="result-picto ml-3 mr-2 " src="./static/img/delgado.png"></img> como un <a href="Irene_mockup4_todosSynsetSinDefMasPictos_v2.html">flamenco</a><img class="result-picto ml-3" src="./static/img/flamenco.png"></img></p>
                          
                              </div>
                            </li>
                          
                        </div> 
                        
                      </div>


                    
                  
                                    
                  </ul>
                </div>

              {% endif %}
          </div>
      
         
         
      
{% endblock %}