<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>Lista de tareas</title>
		<link href="style.css" rel="stylesheet"/>
        <link rel="icon" type="image/png" href="imagenes/favicon.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>

	<body>
        <div class="contenedor">
            <div class="header">
                <div class="headerSuperior">
                    <div class="titulo">


                    </div>

                    <div class="registro">
                        <img class="fotoPerfil" src="imagenes/fotoPerfil.png">
                        <div class="datosSesion">
                            <p>usuarios@gmail.com</p>
                            <a class="botonDesconectar boton" href="">Desconectar</a>
                        </div>
                    </div>
                </div>

                <div class="headerInferior">
                    <a class="botonAnadir boton" href="">Añadir</a>
                    <a class="boton botonEliminar" href="">Eliminar </a>
                </div>
            </div>

            <div class="tarjetas">
                <div class="tarjeta-finalizada">
                    <div>
                        <h2><i class="material-icons">playlist_add_check</i>Mirar fechas congreso</h2>
                    </div>

                </div>

                <div class="tarjeta-activa">
                    <div class="title">
                        <h2><i class="material-icons">format_list_bulleted</i>Preparar práctica AW</h2>
                    </div>

                    <div class="tags">
                        <ul>
                            <li> - AW </li>
                            <li> - Práctica </li>
                        </ul>
                    </div>
                        <a href="">Marcar finalizada </a>
                </div>
                <div class="tarjeta-activa">
                        <div class="title">
                            <h2><i class="material-icons">format_list_bulleted</i>Ir al supermercado</h2>
                        </div>

                        <div class="tags">
                            <ul>
                                <li> - Personal </li>

                            </ul>
                        </div>
                            <a href="">Marcar finalizada </a>
                </div>




                <div class="tarjeta-activa">
                        <div class="title">
                            <h2><i class="material-icons">format_list_bulleted</i>Mudanza</h2>
                        </div>

                        <div class="tags">
                            <ul>
                                <li> - Personal </li>
                            </ul>
                        </div>
                            <a href="">Marcar finalizada </a>
               </div>

            </div>


        </div>

	</body>
</html>